/* tutto il CSS va qui */

body {
  background-color: #f3f2ef;
}

.nav-link {
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 0.82rem;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.9) !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.gold-text {
  color: #915907 !important;
  font-weight: 400;
}
